<h1 style="width: 200px;margin: auto;text-align: center;color: #026;font-size: 1.5em;">Congradulations!</h1>
<h3 style="width: 320px;margin: 10px auto;text-align: center;color: #026;font-size: 1.15em;overflow-wrap: normal;font-weight: normal;">You are now a Pack97 webpage Adminisrator for: 
	{{#each scope}}
		<br/>{{this}} 
	{{/each}}</h3>
<div style="width: 320px;margin: 10px auto">
	<p>Click <a href="">here</a> to create a your user password.<p>

	<span>After creating your password:</span>
	<ol>
		<li>Login - Click the 'Login' link in the footer of any page</li>
		<li>Check menu - Once you are logged in click the menu and you'll see new options</li>
	</ol>
</div>
