<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="/css/modernize.css">
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
    	<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
		<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
	</head>
	<div id="container">
		<div style="background-image: url('/images/NewHeaderBlue8.png');
		    background-position: left;
		    background-size: cover;
		    background-repeat: no-repeat;
		    height: 150px;
		    position: fixed;
		    top: -10px;
		    left: 0px;
		    right: 0px;">   	
		 </div>
		<body>
		    <div class="container">
		        {{{content}}}
		    </div>
		</body>  
	</div>
</html>  